.Browse {
  margin-top: 100px;
  justify-content: center;
  align-items: center;
}

.Browse-count {
  font-size: large;
  font-weight: bold;
  margin-bottom: 20px;
}

.Browse-btn {
  display: flex;
  flex-direction: row;
  background-color: lightseagreen;
  color: white;
  height: 64px;
  width: 240px;
  border-radius: 32px;
  cursor: pointer;
  align-self: center;
  justify-content: center;
  align-items: center;
}

.Browse-btn-txt {
  font-size: 24px;
  font-weight: bold;
}
