/* https://www.geeksforgeeks.org/how-to-create-a-simple-responsive-footer-in-react-js/ */

.Footer {
  padding: 40px 0px 40px 0px;
  background: black;
  width: 100%;
  position: absolute;
  bottom: 0;
  flex-wrap: wrap;
}

.Footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.Footer-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.Footer-column {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  text-align: left;
}

.Footer-link {
  color: #fff;
  margin-left: 40px;
  margin-bottom: 20px;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  text-decoration: none;
}

.Footer-link:hover {
  color: lightseagreen;
  transition: 200ms ease-in;
}
