.Header-link {
  display: flex;
  flex-direction: row;
  margin-left: 40px;
  text-decoration: none;
  align-items: center;
}

.Header-text {
  color: white;
  margin-left: 10px;
  padding-top: 0px;
  font-size: 24px;
  font-weight: bold;
}

.Header-user {
  display: flex;
  flex-direction: row;
  margin-right: 40px;
  justify-content: center;
  align-items: center;
}

.Header-user-username {
  color: white;
  padding-top: 0px;
  font-size: 18px;
  margin-right: 8px;
}
