.Header {
  display: flex;
  flex-direction: row;
  background-color: black;
  position: absolute;
  top: 0;
  width: 100%;
}

.Header-link {
  display: flex;
  flex-direction: row;
  margin-left: 40px;
  text-decoration: none;
  align-items: center;
}

.Header-text {
  color: white;
  padding-top: 0px;
  font-size: 24px;
  font-weight: bold;
}

.Header-user {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Header-user-username {
  color: white;
  padding-top: 0px;
  font-size: 18px;
  margin-left: 8px;
}
