.Upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.Upload-animation-parent {
  z-index: 3;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(5px);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.Upload-animation {
  height: 500px;
  width: 500px;
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.Upload-game {
  background-color: white;
  border-width: 0px;
  border-color: white;
  width: 100%;
  padding: 5px 10px 5px 10px;
}

.Upload-game:hover {
  background-color: rgb(0 0 0 / 0.2);
  border-radius: 10px;
}

.Upload-title {
  margin-bottom: 20px;
}

.Upload-btn-grp {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Upload-btn {
  display: flex;
  flex-direction: row;
  background-color: lightseagreen;
  color: white;
  height: 48px;
  width: 180px;
  border-radius: 24px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.Btn-Upload {
  background-color: white;
  color: lightseagreen;
  border-color: lightseagreen;
  border-width: 3px;
}

.Upload-icon {
  font-size: 18px;
  margin-right: 6px;
}

.Upload-btn-text {
  font-size: 18px;
  font-weight: bold;
}

.Upload-progress {
  margin-top: 30px;
}
